{% extends 'base.html.twig' %}

{% block content %}
<div id="listeLocataire" class="container">
    <div id="headerLocataire">
        <h3>Gestion des locataires </h3>
        <a type="button" class="btn btn-success" href="{{ path('ajout_locataires')}}">Nouveau locataire</a>
    </div>

    <table class="table col-lg-8">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nombre de locations</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        {% for locataires in locataires %}
            <tbody>
                    <tr>
                        <td>{{ locataires.id }}</td>
                        <td>{{ locataires.name }}</td>
                        <td>{{ locataires.firstname }}</td>
                        <td>{{ locataires.tenant | length }}</td>
                        <td><a type="button" class="btn btn-secondary" href="{{ path('show_locataires', {id: locataires.id})}}">Mettre à jour les données</a></td>
                    </tr>
            </tbody>
        {% endfor %}
    </table>
    {% if isPaginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for i in range(1, nbPage) %}
                    <li class="page-item"><a class="page-link" href="{{ path('locataires', {page: i, nb : nb}) }}">{{ i }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</div>

{% endblock %}