{% extends 'base.html.twig' %}

{% block content %}
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-lg-4">
                <img src="{{ asset('uploads/bien/' ~ rent.residence.photo) }}" alt="image" style="width: 350px; height: 200px;">
                <div>
                    {% if rent.tenantValidatedAt is not null %}
                        {% if rent.representativeValidatedAt is null %}
                            <p>{{ rent.tenant }} a signé le {{ rent.tenantValidatedAt | date('d/m/Y') }}.</p>
                            {% if rent.tenantComments is not null %}
                                <div style="border: black 1px solid">
                                    <div style="margin: 5px;">
                                        <strong>Commentaire du locataire : </strong>
                                    </div>
                                    <div style="margin: 5px;">
                                        <p>{{ rent.tenantComments }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif%}
                    {% endif %}
                    {% if rent.representativeValidatedAt is not null %}
                        {% if rent.tenantValidatedAtEnd is null %}
                            <p>{{ rent.residence.representative }} a signé le {{ rent.representativeValidatedAt | date('d/m/Y') }}.</p>
                            {% if rent.representativeComments is not null %}
                                <div style="border: black 1px solid">
                                    <div style="margin: 5px;">
                                        <strong>Commentaire du mandataire : </strong>
                                    </div>
                                    <div style="margin: 5px;">
                                        <p>{{ rent.representativeComments }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif%}
                    {% endif %}
                    {% if rent.tenantValidatedAtEnd is not null %}
                        {% if rent.representativeValidatedAtEnd is null %}
                            <p>{{ rent.tenant }} a signé le {{ rent.tenantValidatedAtEnd | date('d/m/Y') }}.</p>
                            {% if rent.tenantCommentsEnd is not null %}
                                <div style="border: black 1px solid">
                                    <div style="margin: 5px;">
                                        <strong>Commentaire du locataire : </strong>
                                    </div>
                                    <div style="margin: 5px;">
                                        <p>{{ rent.tenantCommentsEnd }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif%}
                    {% endif %}
                    {% if rent.representativeValidatedAtEnd is not null %}
                        <p>{{ rent.residence.representative }} a signé le {{ rent.representativeValidatedAtEnd | date('d/m/Y') }}.</p>
                        {% if rent.representativeCommentsEnd is not null %}
                            <div style="border: black 1px solid">
                                <div style="margin: 5px;">
                                    <strong>Commentaire du mandataire : </strong>
                                </div>
                                <div style="margin: 5px;">
                                    <p>{{ rent.representativeCommentsEnd }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif%}
                </div>
            </div>
            <div class="col-lg-6" style="margin-left: 30px;">
                <h3>{{ rent.residence.name }}</h3>
                <p style="margin-top: 30px;">Locataire : {{ rent.tenant }}</p>
                <div style="display: flex;">
                    <a href="{{ asset('uploads/bien/' ~ rent.inventoryFile) }}" style="text-decoration-color: #AF593D; color: #793318; font-weight: bold;">Télécharger </a>
                    <p style="margin-left: 5px;"> le gabarit</p>
                </div>
                {% if is_granted("ROLE_REPRESENTATIVE") %}
                    {% if rent.representativeSignature is null %}
                        {% if rent.arrivalDate | date('Y/m/d') <= 'now' | date('Y/m/d') %}
                            {% if rent.tenantSignature is not null %}
                                <p>Vous devez signer l'inventaire.</p>
                                {{ form(formRepresentative) }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if rent.tenantValidatedAtEnd is not null %}
                        {% if rent.representativeValidatedAtEnd is null %}
                            <p>Vous devez signer l'inventaire de fin d'état des lieux.</p>
                            {{ form(formRepresentativeEnd) }}
                        {% endif %}
                    {% endif%}
                {% endif %}
                {% if is_granted("ROLE_TENANT") %}
                    {% if rent.tenantSignature is null %}
                        {% if rent.arrivalDate | date('Y/m/d') <= 'now' | date('Y/m/d') %}
                            <p>Vous devez signer l'inventaire.</p>
                            {{ form(formTenant) }}
                        {% endif %}
                    {% endif %}
                    {% if rent.representativeValidatedAt is not null %}
                        {% if rent.tenantValidatedAtEnd is null %}
                            <p>Vous devez signer l'inventaire de fin d'état des lieux.</p>
                            {{ form(formTenantEnd) }}
                        {% endif %}
                    {% endif%}
                {% endif %}
            </div>
        </div>
    </div>
    <div style="margin-top: 40px; margin-bottom: 300px; margin-left: 5%; margin-right: 5%;">
        <h3 style="margin-bottom: 30px;">Synthèse</h3>
        {# 1ERE ETAPE #}
        <div class="card-group card-deck">
            {% if rent.arrivalDate | date('Y/m/d') <= 'now' | date('Y/m/d') %}
                <div type="button" class="card" data-bs-toggle="popover" title="{{ rent.tenant.firstName }} {{ rent.tenant.name }} est arrivé le {{ rent.arrivalDate | date('d/m/Y') }}" data-bs-placement="bottom"style="border: green 1px solid;">
                    <div class="card-header" style="font-size: 15px; background-color: green; color:white;">Arrivée du locataire</div>
                    <div class="card-body" style="background-color: green; color:white;">
                        <h6 class="card-title">Arrivée le {{ rent.arrivalDate | date('d/m/Y') }}</h6>
                        <p class="card-text">Le locataire est arrivé à la résidence.</p>
                    </div>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                    </div>
                </div>
            {% elseif rent.arrivalDate | date('Y/m/d') > 'now' | date('Y/m/d') %}
                <div class="card" style="border: orange 1px solid;">
                    <div class="card-header" style="font-size: 15px; background-color: orange; color:black;">Arrivée du locataire</div>
                    <div class="card-body" style="background-color: orange; color:black;">
                        <h6 class="card-title">Arrivée le {{ rent.arrivalDate | date('Y/m/d') }}</h6>
                        <p class="card-text">Le locataire est arrivé à la résidence.</p>
                    </div>
                </div>
            {% endif %}
            <h1 style="margin-top: 50px; font-weight: bold; font-size: 50px"> > </h1>
            {# 2EME ETAPE #}
            {% if rent.arrivalDate | date('Y/m/d') <= 'now' | date('Y/m/d') %}
                {% if rent.tenantValidatedAt is not null %}
                    <div class="card" data-bs-toggle="popover" type="button" title="{{ rent.tenant.firstName }} {{ rent.tenant.name }} a signé le {{ rent.tenantValidatedAt | date('d/m/Y') }}" data-bs-placement="bottom" data-bs-content="{{ rent.tenantComments }}">
                        <div class="card-header" style="font-size: 15px; background-color: green; color:white;">Signature de l'inventaire</div>
                        <div class="card-body" style="background-color: green; color:white;">
                            <h6 class="card-title">A signer le {{ rent.tenantValidatedAt | date('d/m/Y') }}</h6>
                            {% if rent.tenantComments is null %}
                                <p class="card-text">Par le <strong>locataire</strong> sans commentaire.</p>
                            {% endif %}
                            {% if rent.tenantComments is not null %}
                                <p class="card-text">Par le <strong>locataire</strong> avec un commentaire.</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if rent.arrivalDate | date('Y/m/d') <= 'now' | date('Y/m/d') %}
                {% if rent.tenantValidatedAt is null %}
                    <div class="card">
                        <div class="card-header" style="font-size: 15px; background-color: orange; color:black;">Signature de l'inventaire</div>
                        <div class="card-body" style="background-color: orange; color:black;">
                            <h6 class="card-title">A signer le {{ rent.tenantValidatedAt | date('d/m/Y') }}</h6>
                            <p class="card-text">Par le <strong>locataire</strong>.</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if rent.arrivalDate | date('Y/m/d') > 'now' | date('Y/m/d') %}
                <div class="card">
                    <div class="card-header" style="font-size: 15px; background-color: black; color:white;">Signature de l'inventaire</div>
                    <div class="card-body" style="background-color: black; color:white;">
                        <h6 class="card-title">A signer le {{ rent.tenantValidatedAt | date('d/m/Y') }}</h6>
                        <p class="card-text">Par le <strong>locataire</strong>.</p>
                    </div>
                </div>
            {% endif %}
            <h1 style="margin-top: 50px; font-weight: bold; font-size: 50px"> > </h1>
            {# 3EME ETAPE #}
                {% if rent.tenantValidatedAt is not null %}
                    {% if rent.representativeValidatedAt is not null %}
                        <div class="card" data-bs-toggle="popover" type="button" title="{{ rent.residence.representative }} a signé le {{ rent.representativeValidatedAt | date('d/m/Y') }}" data-bs-placement="bottom" data-bs-content="{{ rent.representativeComments }}">
                            <div class="card-header" style="font-size: 15px; background-color: green; color:white;">Signature de l'inventaire</div>
                            <div class="card-body" style="background-color: green; color:white;">
                                <h6 class="card-title">A signer le {{ rent.representativeValidatedAt | date('d/m/Y') }}</h6>
                                {% if rent.representativeComments is null %}
                                    <p class="card-text">Par le <strong>mandataire</strong> sans commentaire.</p>
                                {% endif %}
                                {% if rent.representativeComments is not null %}
                                    <p class="card-text">Par le <strong>mandataire</strong> avec un commentaire.</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% if rent.tenantValidatedAt is not null %}
                    {% if rent.representativeValidatedAt is null %}
                        <div class="card">
                            <div class="card-header" style="font-size: 15px; background-color: orange; color:black;">Signature de l'inventaire</div>
                            <div class="card-body" style="background-color: orange; color:black;">
                                <h6 class="card-title">A signer le {{ rent.representativeValidatedAt | date('d/m/Y') }}</h6>
                                <p class="card-text">Par le <strong>mandataire</strong>.</p>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% if rent.tenantValidatedAt is null %}
                    <div class="card">
                        <div class="card-header" style="font-size: 15px; background-color: black; color:white;">Signature de l'inventaire</div>
                        <div class="card-body" style="background-color: black; color:white;">
                            <h6 class="card-title">A signer le {{ rent.representativeValidatedAt | date('d/m/Y') }}</h6>
                            <p class="card-text">Par le <strong>mandataire</strong>.</p>
                        </div>
                    </div>
                {% endif%}
            <h1 style="margin-top: 50px; font-weight: bold; font-size: 50px"> > </h1>
            {# 4EME ETAPE #}
            {% if rent.representativeValidatedAt is not null %}
                {% if rent.tenantValidatedAtEnd is not null %}
                    <div class="card" data-bs-toggle="popover" type="button" title="{{ rent.tenant.firstName }} {{ rent.tenant.name }} a signé le {{ rent.tenantValidatedAtEnd | date('d/m/Y') }}" data-bs-placement="bottom" data-bs-content="{{ rent.tenantCommentsEnd }}">
                        <div class="card-header" style="font-size: 15px; background-color: green; color:white;">Signature fin état des lieux de l'inventaire</div>
                        <div class="card-body" style="background-color: green; color:white;">
                            <h6 class="card-title">A signer le {{ rent.tenantValidatedAtEnd | date('d/m/Y') }}</h6>
                            <p class="card-text">Par le <strong>locataire</strong>.</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if rent.representativeValidatedAt is not null %}
                {% if rent.tenantValidatedAtEnd is null %}
                    <div class="card">
                        <div class="card-header" style="font-size: 15px; background-color: orange; color:black;">Signature fin état des lieux de l'inventaire</div>
                        <div class="card-body" style="background-color: orange; color:black;">
                            <h6 class="card-title">A signer le {{ rent.tenantValidatedAtEnd | date('d/m/Y') }}</h6>
                            <p class="card-text">Par le <strong>locataire</strong>.</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if rent.representativeValidatedAt is null %}
                <div class="card">
                    <div class="card-header" style="font-size: 15px; background-color: black; color:white;">Signature fin état des lieux de l'inventaire</div>
                    <div class="card-body" style="background-color: black; color:white;">
                        <h6 class="card-title">A signer le {{ rent.tenantValidatedAtEnd | date('d/m/Y') }}</h6>
                        <p class="card-text">Par le <strong>locataire</strong>.</p>
                    </div>
                </div>
            {% endif %}
            <h1 style="margin-top: 50px; font-weight: bold; font-size: 50px"> > </h1>
            {# 5 ETAPE #}
            {% if rent.tenantValidatedAtEnd is not null %}
                {% if rent.representativeValidatedAtEnd is not null %}
                    <div class="card" data-bs-toggle="popover" type="button" title="{{ rent.residence.representative }} a signé le {{ rent.representativeValidatedAtEnd | date('d/m/Y') }}" data-bs-placement="bottom" data-bs-content="{{ rent.representativeCommentsEnd }}">
                        <div class="card-header" style="font-size: 15px; background-color: green; color:white;">Signature fin état des lieux de l'inventaire</div>
                        <div class="card-body" style="background-color: green; color:white;">
                            <h6 class="card-title">A signer le {{ rent.representativeValidatedAtEnd | date('d/m/Y') }}</h6>
                            <p class="card-text">Par le <strong>mandataire</strong>.</p>
                        </div>
                    </div>
                {% endif%}
            {% endif %}
            {% if rent.tenantValidatedAtEnd is not null %}
                {% if rent.representativeValidatedAtEnd is null %}
                    <div class="card">
                        <div class="card-header" style="font-size: 15px; background-color: orange; color:black;">Signature fin état des lieux de l'inventaire</div>
                        <div class="card-body" style="background-color: orange; color:black;">
                            <h6 class="card-title">A signer le {{ rent.representativeValidatedAtEnd | date('d/m/Y') }}</h6>
                            <p class="card-text">Par le <strong>mandataire</strong>.</p>
                        </div>
                    </div>
                {% endif%}
            {% endif %}
            {% if rent.tenantValidatedAtEnd is null %}
                <div class="card">
                    <div class="card-header" style="font-size: 15px; background-color: black; color:white;">Signature fin état des lieux de l'inventaire</div>
                    <div class="card-body" style="background-color: black; color:white;">
                        <h6 class="card-title">A signer le {{ rent.representativeValidatedAtEnd | date('d/m/Y') }}</h6>
                        <p class="card-text">Par le <strong>mandataire</strong>.</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}