{% extends 'base.html.twig' %}

{% block content %}
    <div id="mandataire" class="container">
        <div id="headerMandataire">
            <h3>Gestion des mandataires</h3>
            <a type="button" class="btn btn-success" href="{{ path('ajout_mandataire')}}">Nouveau mandataire</a>
        </div>
        <div>

        </div>
        <table id="listeMandataire" class="table col-lg-8">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Nombre de résidences</th>
                <th>Date début contrat</th>
                <th>Action</th>
            </tr>
            </thead>
            {% for mandataire in mandataire %}
                {% if mandataire.roles[0] == "ROLE_REPRESENTATIVE"  %}
                    <tbody>
                    <tr>
                        <td>{{ mandataire.id }}</td>
                        <td>{{ mandataire.name }}</td>
                        <td>{{ mandataire.firstname }}</td>
                        <td>{{ mandataire.representative | length }}</td>
                        <td>{{ mandataire.coordonnees.dateDebutContrat | date('d/m/Y') }}</td>
                        <td><a type="button" class="btn btn-secondary" href="{{ path('show_mandataire', {id: mandataire.id})}}">Mettre à jour les données</a></td>
                    </tr>
                    </tbody>
                {% endif %}
            {% endfor %}
        </table>
        {% if isPaginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% for i in range(1, nbPage) %}
                        <li class="page-item"><a class="page-link" href="{{ path('mandataire', {page: i, nb : nb}) }}">{{ i }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </div>

{% endblock %}
