{% extends 'base.html.twig' %}

{% block body %}
    <div id="idMenuNav">
        <nav class="navbar">
            <ul>
                <a id="linkHome" href="/">LOGO</a>

                <!--LIENS-->

                <a class="linkNav" href="/">ACCUEIL</a>
                {% if is_granted('ROLE_OWNER') %}
                    <a class="linkNav" href="{{ path('bien')}}">BIENS</a>
                {% endif %}
                {% if is_granted('ROLE_REPRESENTATIVE') %}
                    <a class="linkNav" href="{{ path('bien')}}">BIENS</a>
                {% endif %}
                {% if is_granted('ROLE_OWNER') %}
                    <a class="linkNav" href="{{ path('locataires')}}">LOCATAIRES</a>
                {% endif %}
                {% if is_granted('ROLE_OWNER') %}
                    <a class="linkNav" href="{{ path('mandataire')}}">MANDATAIRES</a>
                {% endif %}
            </ul>
            <ul>
                {% if is_granted('ROLE_OWNER') %}
                    <a class="linkNav" href="{{ path('profil')}}"><i class="fas fa-user-circle"></i>MON PROFIL</a>
                {% endif %}
                {% if is_granted('ROLE_REPRESENTATIVE') %}
                    <a class="linkNav" href="{{ path('profil')}}"><i class="fas fa-user-circle"></i>MON PROFIL</a>
                {% endif %}
                {% if is_granted('ROLE_TENANT') %}
                    <a class="linkNav" href="{{ path('profil')}}"><i class="fas fa-user-circle"></i>MON PROFIL</a>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}