{% extends 'base.html.twig' %}

{% block content %}

    <div>
        <h2 class="title-brown">Gestion des mandataires</h2>
        <a type="button" class="btn btn-success" href="{{ path('ajout_mandataire')}}">Nouveau mandataire</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Nombre de locations</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for mandataire in mandataire %}
            <tbody>
                <tr>
                    <td>{{ mandataire.id }}</td>
                    <td>{{ mandataire.name }}</td>
                    <td>{{ mandataire.firstname }}</td>
                    <td>1</td>
                    <td><a type="button" class="btn btn-secondary" href="{{ path('show_mandataire', {id: mandataire.id})}}">Mettre à jour les données</a></td>
                </tr>
            </tbody>
        {% endfor %}
    </table>

{% endblock %}
