{% extends 'base.html.twig' %}

{% block content %}
    <div class="container" id="biens">
        <div>
            <div id="biensHeader">
                <h3 id="biensNumber">{{ bien | length }}</h3>
                <h3>biens</h3>
                <a type="button" class="btn btn-success" href="{{ path('create_bien')}}">Ajouter un bien</a>
            </div>
        </div>

        {% for bien in bien %}
            <div id="listeBiens">
                <div class="row">
                    <div class="col-lg-5">
                        <img src="{{ asset('uploads/bien/' ~ bien.photo) }}" alt="image" style="width: 250px; height: 200px;">
                    </div>
                    <div class="col-lg-7">
                        <h3>{{ bien.name }}</h3>
                        <p>Géré par {{ bien.representative }}</p>
                        <p>{{ bien.rents | length }} locations au total</p>
                        <a type="button" class="btn btn" href="{{ path('update_bien', {id: bien.id})}}">Accéder</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}