{% extends 'base.html.twig' %}

{% block content %}

    <div>
        <h2>
            Gestion des locataires
            <a type="button" class="btn btn-success" href="{{ path('ajout_locataires')}}">Nouveau locataire</a>
        </h2>
    </div>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Nombre de locations</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for locataires in locataires %}
            <tbody>
                <tr>
                    <td>{{ locataires.id }}</td>
                    <td>{{ locataires.name }}</td>
                    <td>{{ locataires.firstname }}</td>
                    <td>3</td>
                    <td><a type="button" class="btn btn-secondary" href="{{ path('show_locataires', {id: locataires.id})}}">Mettre à jour les données</a></td>
                    
                </tr>
            </tbody>
        {% endfor %}
    </table>

{% endblock %}